Repository pangeo-forge/pangeo-forge-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstring-first, check-json, check-yaml, isort, black, flake8

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: local
    hooks:
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: system

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: system

      - id: check-docstring-first
        name: check-docstring-first
        entry: check-docstring-first
        types: [python]
        language: system

      - id: check-json
        name: check-json
        entry: check-json
        types: [json]
        language: system

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        types: [yaml]
        language: system

      - id: isort
        name: isort
        language: system
        entry: isort
        types: [python]
        args: ["--check-only", "--profile", "black"]

      - id: black
        name: black
        language: system
        entry: black
        types: [python]
        args: ["--check", "--line-length", "100"]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [python]
        args: ["--max-line-length", "100"]

maybe no build.os?
  docs/.readthedocs.yml
Due: check-yaml

maybe build comes first
  docs/.readthedocs.yml
Due: check-yaml

try legacy .readthedocs.yml?
  docs/.readthedocs.yml
Due: check-yaml

go back to pangeo-forge-recipes readthedocs config
  docs/.readthedocs.yml
Due: check-yaml

maybe just downgrade python req for now
  pyproject.toml
Due: none

docs tweaks
  docs/new_pydantic_types.md
  docs/use_guide.md
Due: none

oooh readthedocs config wasn't in root
  .readthedocs.yml
  docs/use_guide.md
  pyproject.toml
Due: check-yaml

switch packaging to match pangeo-forge-recipes
  pangeo_forge_orchestrator/_version.py
  poetry.lock
  pyproject.toml
  setup.cfg
  setup.py
Due: check-docstring-first, isort, black, flake8

delete notebook module + tests
  pangeo_forge_orchestrator/catalog.py
  pangeo_forge_orchestrator/cli/catalog.py
  pangeo_forge_orchestrator/notebook.py
  pangeo_forge_orchestrator/templates/jupyter/https_loading_template.ipynb
  pangeo_forge_orchestrator/templates/jupyter/s3_loading_template.ipynb
  pangeo_forge_orchestrator/templates/stac/item_template.json
  setup.cfg
  tests/conftest.py
  tests/test_catalog.py
Due: check-docstring-first, check-json, isort, black, flake8

update workflows for new packaging style
  .github/workflows/main.yaml
Due: check-yaml

Update pangeo_forge_orchestrator/cli/bakery.py
  pangeo_forge_orchestrator/cli/bakery.py
Due: check-docstring-first, isort, black, flake8

remove notebook module dependencies
  setup.cfg
Due: none

move helper funcs out of Bakery class
  pangeo_forge_orchestrator/components.py
Due: check-docstring-first, isort, black, flake8

add mypy pydantic plugin
  setup.cfg
Due: none

add _version.py to gitignore
  .gitignore
  pangeo_forge_orchestrator/_version.py
Due: check-docstring-first, isort, black, flake8

add pydantic dep for mypy hook
  .pre-commit-config.yaml
Due: check-yaml

refactor BakeryDatabase type + tests
  pangeo_forge_orchestrator/meta_types/bakery.py
  tests/test_meta_types.py
Due: check-docstring-first, isort, black, flake8

refactor components
  pangeo_forge_orchestrator/components.py
  tests/test_components.py
Due: check-docstring-first, isort, black, flake8

update bakery database validation
  pangeo_forge_orchestrator/validation/validate_bakery_database.py
  tests/test_validation.py
Due: check-docstring-first, isort, black, flake8

update Bakery kwargs in catalog module
  pangeo_forge_orchestrator/catalog.py
Due: check-docstring-first, isort, black, flake8

comment out pytest timout config
  setup.cfg
Due: none

update bakery cli + tests
  pangeo_forge_orchestrator/cli/bakery.py
  pangeo_forge_orchestrator/validation/validate_bakery_database.py
  tests/cli/test_bakery_cli.py
Due: check-docstring-first, isort, black, flake8

remove extraneous prints in tests
  tests/cli/check_stdout.py
Due: check-docstring-first, isort, black, flake8

freeze all dataclasses
  pangeo_forge_orchestrator/meta_types/bakery.py
Due: check-docstring-first, isort, black, flake8

run_id as int, store build_logs as csv
  pangeo_forge_orchestrator/cli/bakery.py
  pangeo_forge_orchestrator/cli/catalog.py
  pangeo_forge_orchestrator/components.py
  pangeo_forge_orchestrator/meta_types/bakery.py
  tests/cli/test_bakery_cli.py
  tests/cli/test_catalog_cli.py
  tests/conftest.py
  tests/test_catalog.py
  tests/test_meta_types.py
  tests/test_server.py
Due: check-docstring-first, isort, black, flake8

use MetaDotYaml type in components.FeedstockMetadata
  pangeo_forge_orchestrator/catalog.py
  pangeo_forge_orchestrator/components.py
  pangeo_forge_orchestrator/meta_types/feedstock.py
  tests/conftest.py
  tests/meta_types/test_bakery_types.py
  tests/meta_types/test_feedstock_types.py
  tests/test_components.py
Due: check-docstring-first, isort, black, flake8

rename components -> interfaces
  pangeo_forge_orchestrator/catalog.py
  pangeo_forge_orchestrator/cli/bakery.py
  pangeo_forge_orchestrator/interfaces.py
  pangeo_forge_orchestrator/validation/validate_bakery_database.py
  tests/conftest.py
  tests/test_interfaces.py
Due: check-docstring-first, isort, black, flake8

working on bakery interface methods
  pangeo_forge_orchestrator/interfaces.py
Due: check-docstring-first, isort, black, flake8

working towards catalog api generalization
  pangeo_forge_orchestrator/catalog.py
  pangeo_forge_orchestrator/cli/catalog.py
  tests/cli/test_catalog_cli.py
  tests/conftest.py
  tests/test_catalog.py
Due: check-docstring-first, isort, black, flake8

cf_xarray first pass
  pangeo_forge_orchestrator/catalog.py
  setup.cfg
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

fix bakery database naming in tests
  tests/cli/test_catalog_cli.py
  tests/test_server.py
Due: check-docstring-first, isort, black, flake8

CLI: optionally load bakery database from envvar
  pangeo_forge_orchestrator/cli/bakery.py
  pangeo_forge_orchestrator/cli/catalog.py
  tests/cli/test_bakery_cli.py
Due: check-docstring-first, isort, black, flake8

build_logs as property; addl methods work
  pangeo_forge_orchestrator/catalog.py
  pangeo_forge_orchestrator/interfaces.py
Due: check-docstring-first, isort, black, flake8

support unmerged feedstock metadata
  pangeo_forge_orchestrator/catalog.py
  pangeo_forge_orchestrator/cli/catalog.py
  pangeo_forge_orchestrator/interfaces.py
  tests/cli/test_catalog_cli.py
  tests/test_catalog.py
  tests/test_interfaces.py
Due: check-docstring-first, isort, black, flake8

some stac edge case handling
  pangeo_forge_orchestrator/catalog.py
Due: check-docstring-first, isort, black, flake8

add cf_xarray req
  setup.cfg
Due: none

fix catalog to match latest xstac PR
  pangeo_forge_orchestrator/catalog.py
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

first database pr commit
  .coveragerc
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  codecov.yml
  docs/Makefile
  docs/_static/pangeo-forge-logo-blue.png
  docs/conf.py
  docs/index.md
  docs/make.bat
  docs/requirements.txt
  pyproject.toml
  setup.cfg
  setup.py
Due: check-docstring-first, check-yaml, isort, black, flake8

remove merge annotation from .gitignore
  .gitignore
Due: none
