Repository pangeo-forge/pangeo-forge-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstring-first, check-json, check-yaml, isort, black, flake8

check-docstring-first:
  name: check-docstring-first
  entry: check-docstring-first
  language: system

check-json:
  name: check-json
  entry: check-json
  language: system

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

isort:
  name: isort
  language: system
  entry: isort
  args:
  - --check-only
  - --profile
  - black

black:
  name: black
  language: system
  entry: black
  args:
  - --check
  - --line-length
  - '100'

flake8:
  name: flake8
  language: system
  entry: flake8
  args:
  - --max-line-length
  - '100'

SQLModel/FastAPI Hero example
  .gitignore
  pangeo_forge_orchestrator/__init__.py
  pangeo_forge_orchestrator/database.py
  pangeo_forge_orchestrator/main.py
  pangeo_forge_orchestrator/models.py
  setup.cfg
  tests/test_main.py
Due: check-docstring-first, isort, black, flake8

add server and cli modules
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/cli.py
  pangeo_forge_orchestrator/database.py
  pangeo_forge_orchestrator/server.py
  setup.cfg
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

cli test first draft
  pangeo_forge_orchestrator/cli.py
  pangeo_forge_orchestrator/server.py
  tests/conftest.py
  tests/test_api.py
  tests/test_cli.py
Due: check-docstring-first, isort, black, flake8

client draft
  pangeo_forge_orchestrator/cli.py
  pangeo_forge_orchestrator/client.py
  tests/test_cli.py
  tests/test_client.py
Due: check-docstring-first, isort, black, flake8

add model factory funcs
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

fix workflow pr branch trigger
  .github/workflows/main.yaml
Due: check-yaml

generalize api funcs
  pangeo_forge_orchestrator/api.py
Due: check-docstring-first, isort, black, flake8

generalize api creation with MultipleModels + GenerateEndpoints objects
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

match client + cli creation funcs to api, and generalize/parametrize tests
  pangeo_forge_orchestrator/cli.py
  pangeo_forge_orchestrator/client.py
  setup.cfg
  tests/__init__.py
  tests/conftest.py
  tests/test_api.py
  tests/test_cli.py
  tests/test_client.py
Due: check-docstring-first, isort, black, flake8

make model factories methods of MultipleModels
  pangeo_forge_orchestrator/models.py
  tests/conftest.py
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

move abstractions to standalone module
  pangeo_forge_orchestrator/abstractions.py
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

generalize update + delete tests
  tests/conftest.py
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

tests rewrite, make db in process cwd, crud methods
  .pre-commit-config.yaml
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/cli.py
  pangeo_forge_orchestrator/client.py
  pangeo_forge_orchestrator/database.py
  setup.cfg
  tests/conftest.py
  tests/test_api.py
Due: check-docstring-first, check-yaml, isort, black, flake8

revert pre-commit to 19.10b0
  .pre-commit-config.yaml
  tests/conftest.py
  tests/test_api.py
Due: check-docstring-first, check-yaml, isort, black, flake8

rename test module
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

swap hero example for recipe_run first draft
  pangeo_forge_orchestrator/models.py
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

make database sub-cli & add docstrings forit
  pangeo_forge_orchestrator/cli.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

first database pr commit
  .coveragerc
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  codecov.yml
  docs/Makefile
  docs/_static/pangeo-forge-logo-blue.png
  docs/conf.py
  docs/index.md
  docs/make.bat
  docs/requirements.txt
  pyproject.toml
  setup.cfg
  setup.py
Due: check-docstring-first, check-yaml, isort, black, flake8

SQLModel/FastAPI Hero example
  .gitignore
  setup.cfg
Due: none

revert pre-commit to 19.10b0
  .pre-commit-config.yaml
Due: check-yaml

match client + cli creation funcs to api, and generalize/parametrize tests
  setup.cfg
Due: none

add server and cli modules
  setup.cfg
Due: none

tests rewrite, make db in process cwd, crud methods
  .pre-commit-config.yaml
  setup.cfg
Due: check-yaml

docstrings for client dataclass
  pangeo_forge_orchestrator/cli.py
  pangeo_forge_orchestrator/client.py
Due: check-docstring-first, isort, black, flake8

test abstract funcs
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

pre-commit run --all-files
  setup.cfg
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

all entrypoints for read test
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

test registration
  pangeo_forge_orchestrator/abstractions.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

test read, update, and delete nonexistent
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

add dev guide docs
  docs/development_guide.md
  docs/index.md
Due: none

Update pangeo_forge_orchestrator/abstractions.py
  pangeo_forge_orchestrator/abstractions.py
Due: check-docstring-first, isort, black, flake8

only test register_endpoints (not _RegisterEndpoints)
  pangeo_forge_orchestrator/abstractions.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

add ModelKwargs + ModelFixture classes for tests
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

add create_func lazy fixture
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

add TestCreate & test all create errors with raises
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

move create failure tests into TestCreate
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

add TestReadRange container
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

TestReadRange -> TestRead
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

fixture containers, CRUD test classes
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

Path conditions:
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
