Repository pangeo-forge/pangeo-forge-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstring-first, check-json, check-yaml, isort, black, flake8

check-docstring-first:
  name: check-docstring-first
  entry: check-docstring-first
  language: system

check-json:
  name: check-json
  entry: check-json
  language: system

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

isort:
  name: isort
  language: system
  entry: isort
  args:
  - --check-only
  - --profile
  - black

black:
  name: black
  language: system
  entry: black
  args:
  - --check
  - --line-length
  - '100'

flake8:
  name: flake8
  language: system
  entry: flake8
  args:
  - --max-line-length
  - '100'

validate BakeryName in Bakery component
  pangeo_forge_orchestrator/components.py
  tests/test_components.py
Due: check-docstring-first, isort, black, flake8

add RunRecord and BuildLogs meta types
  pangeo_forge_orchestrator/meta_types/bakery.py
  tests/conftest.py
  tests/test_meta_types.py
Due: check-docstring-first, isort, black, flake8

make Bakery.build_logs attr a BuildLogs instance
  pangeo_forge_orchestrator/components.py
  tests/test_components.py
  tests/test_server.py
Due: check-docstring-first, isort, black, flake8

more bakery component testing
  pangeo_forge_orchestrator/components.py
  pangeo_forge_orchestrator/meta_types/bakery.py
  tests/conftest.py
  tests/test_components.py
Due: check-docstring-first, isort, black, flake8

implement and test POSTing to local http server
  tests/conftest.py
  tests/http_auth_server.py
  tests/test_components.py
  tests/test_server.py
Due: check-docstring-first, isort, black, flake8

credentialed POSTs to test server
  pangeo_forge_orchestrator/components.py
  pangeo_forge_orchestrator/meta_types/bakery.py
  tests/conftest.py
  tests/test_components.py
  tests/test_server.py
Due: check-docstring-first, isort, black, flake8

add test_catalog.py
  pangeo_forge_orchestrator/catalog.py
  pangeo_forge_orchestrator/components.py
  tests/test_catalog.py
Due: check-docstring-first, isort, black, flake8

make write_test_file DRY
  tests/conftest.py
  tests/test_components.py
  tests/test_server.py
Due: check-docstring-first, isort, black, flake8

test catalog generate (basic)
  pangeo_forge_orchestrator/catalog.py
  pangeo_forge_orchestrator/components.py
  tests/conftest.py
  tests/test_catalog.py
Due: check-docstring-first, isort, black, flake8

test catalog (to_file)
  pangeo_forge_orchestrator/catalog.py
  tests/mock-feedstock@1.0.json
  tests/test_catalog.py
Due: check-docstring-first, check-json, isort, black, flake8

oops, remove test stac item
  tests/mock-feedstock@1.0.json
  tests/test_catalog.py
Due: check-docstring-first, check-json, isort, black, flake8

clear template notebook outputs
  pangeo_forge_orchestrator/templates/jupyter/https_loading_template.ipynb
Due: none

bakery component edits including default http headers
  pangeo_forge_orchestrator/components.py
  tests/test_components.py
Due: check-docstring-first, isort, black, flake8

haha! should probably write files on POST
  tests/http_auth_server.py
  tests/test_components.py
  tests/test_server.py
Due: check-docstring-first, isort, black, flake8

test stac item + notebook execution to_file
  docs/conf.py
  pangeo_forge_orchestrator/catalog.py
  pangeo_forge_orchestrator/components.py
  pangeo_forge_orchestrator/notebook.py
  pangeo_forge_orchestrator/templates/jupyter/https_loading_template.ipynb
  pangeo_forge_orchestrator/templates/stac/item_template.json
  tests/http_auth_server.py
  tests/test_catalog.py
  tests/test_notebook.py
  tests/test_validation.py
Due: check-docstring-first, check-json, isort, black, flake8

conditional os.remove calls in test_catalog
  tests/test_catalog.py
Due: check-docstring-first, isort, black, flake8

stricter type checking for FeedstockMetadata object
  pangeo_forge_orchestrator/components.py
  tests/conftest.py
  tests/test_components.py
  tests/test_meta_types.py
Due: check-docstring-first, isort, black, flake8

update + test bakery cli
  pangeo_forge_orchestrator/cli/bakery.py
  pangeo_forge_orchestrator/components.py
  tests/cli/__init__.py
  tests/cli/check_stdout.py
  tests/cli/test_bakery_cli.py
Due: check-docstring-first, isort, black, flake8

add bakery database validator
  pangeo_forge_orchestrator/validation/__init__.py
  pangeo_forge_orchestrator/validation/validate_bakery_database.py
Due: check-docstring-first, isort, black, flake8

add bakery database validator + tests
  pangeo_forge_orchestrator/meta_types/bakery.py
  pangeo_forge_orchestrator/validation/__init__.py
  pangeo_forge_orchestrator/validation/exceptions.py
  pangeo_forge_orchestrator/validation/validate_bakery_database.py
  tests/test_validation.py
Due: check-docstring-first, isort, black, flake8

add TODO comment for bakery cli
  tests/cli/test_bakery_cli.py
Due: check-docstring-first, isort, black, flake8

update feedstock cli placeholder
  tests/cli/test_feedstock_cli.py
Due: check-docstring-first, isort, black, flake8

update recipe cli placeholder test
  tests/cli/test_recipe_cli.py
Due: check-docstring-first, isort, black, flake8

wow. all. tests. pass.
  pangeo_forge_orchestrator/cli/catalog.py
  tests/cli/check_stdout.py
  tests/cli/test_bakery_cli.py
  tests/cli/test_catalog_cli.py
  tests/conftest.py
  tests/test_catalog.py
Due: check-docstring-first, isort, black, flake8

lint
  tests/cli/test_bakery_cli.py
Due: check-docstring-first, isort, black, flake8

add pre-commit
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-yaml

workflows first draft
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
Due: check-yaml

conda install poetry
  .github/workflows/main.yaml
Due: check-yaml

install ipykernel for papermill notebook execution
  .github/workflows/main.yaml
Due: check-yaml

poetry add jupyterlab
  poetry.lock
  pyproject.toml
Due: none

fix path issue in test_catalog
  .pre-commit-config.yaml
  tests/test_catalog.py
Due: check-docstring-first, check-yaml, isort, black, flake8

pre-commit run --all-files
  pangeo_forge_orchestrator/catalog.py
  pangeo_forge_orchestrator/cli/bakery.py
  pangeo_forge_orchestrator/components.py
  pangeo_forge_orchestrator/meta_types/bakery.py
  pangeo_forge_orchestrator/notebook.py
  pangeo_forge_orchestrator/templates/stac/item_template.json
  pangeo_forge_orchestrator/validation/exceptions.py
  poetry.lock
  pyproject.toml
  tests/cli/test_bakery_cli.py
  tests/cli/test_catalog_cli.py
  tests/cli/test_recipe_cli.py
  tests/conftest.py
  tests/http_auth_server.py
  tests/test_meta_types.py
  tests/test_server.py
Due: check-docstring-first, check-json, isort, black, flake8

add codecov ci
  .coveragerc
  .github/workflows/main.yaml
  codecov.yml
Due: check-yaml

poetry add codecov
  poetry.lock
  pyproject.toml
Due: none

poetry add pytest-cov
  poetry.lock
  pyproject.toml
Due: none

add docs
  docs/.readthedocs.yml
  docs/Makefile
  docs/_static/pangeo-forge-logo-blue.png
  docs/conf.py
  docs/index.md
  docs/make.bat
  docs/motivation.md
  docs/new_pydantic_types
  docs/new_pydantic_types.md
  docs/next_steps.md
  docs/quick_start.md
  docs/requirements.txt
  docs/structural_view.md
  docs/testing_strategy.md
  docs/use_guide.md
Due: check-docstring-first, check-yaml, isort, black, flake8

arbitrary change to see if Read the Docs works
  docs/next_steps.md
Due: none

readthedocs can't find pangeo-forge-recipes 0.6.0 via pip; try from github
  pyproject.toml
Due: none

oops wrong branch for pangeo-forge-recipes install
  pyproject.toml
Due: none

readthedocs: spec python version in build.tools
  docs/.readthedocs.yml
Due: check-yaml

Path conditions:
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
