Repository pangeo-forge/pangeo-forge-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstring-first, check-json, check-yaml, isort, black, flake8

check-docstring-first:
  name: check-docstring-first
  entry: check-docstring-first
  language: system

check-json:
  name: check-json
  entry: check-json
  language: system

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

isort:
  name: isort
  language: system
  entry: isort
  args:
  - --check-only
  - --profile
  - black

black:
  name: black
  language: system
  entry: black
  args:
  - --check
  - --line-length
  - '100'

flake8:
  name: flake8
  language: system
  entry: flake8
  args:
  - --max-line-length
  - '100'

org per-entrypoint CRUD funcs together; all fixtures in conftest
  tests/conftest.py
  tests/entrypoints.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

rename entrypoint -> interface in tests
  docs/development_guide.md
  tests/conftest.py
  tests/interfaces.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

abstractions docstrings + models comment
  pangeo_forge_orchestrator/abstractions.py
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

Update tests/conftest.py
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

typo fix
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

make RecipeRunRead model comment a docstring
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

refactor tests with mixins
  tests/conftest.py
  tests/interfaces.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

add explanation for custom error classes
  tests/interfaces.py
Due: check-docstring-first, isort, black, flake8

clear database in fixtures, not tests
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

reduce len(ModelFixture.kwargs) to 2 and explain why
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

fix two typos
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

GitHub check runs fields for RecipeRunBase, inc. enum types
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

fixtures: update kws, refactor failure params, enum classes
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

add _EnumTypeError for CLI tests
  tests/interfaces.py
Due: check-docstring-first, isort, black, flake8

refactor CreateLogic for enum tests, add enum tests
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

note lack of update tests
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

list(dict)[0] -> next(iter(dict))
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

tests refactor WIP
  pangeo_forge_orchestrator/models.py
  setup.cfg
  tests/conftest.py
  tests/interfaces.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

use helper func in CreateFailure
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

revert CreateFailure helper func, simplify fixture classes
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

reorganize model fixture classes
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

update TestRead for new fixtures
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

move test_registration into a class to use new fixtures
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

update TestDelete for new fixtures
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

Update README.md
  README.md
Due: none

add Procfile and requirements
  Procfile
  requirements.txt
Due: none

mv commit_to_session into BaseLogic & adjust signature
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

update requirements
  requirements.txt
Due: none

move top level funcs into corresponding classes
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

add gunicorn to reqs
  requirements.txt
Due: none

try again
  requirements.txt
Due: none

mv ModelFixture -> ModelWithKwargs to clarify vs. ModelFixtures
  tests/conftest.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

don't install .
  requirements.txt
  runtime.txt
Due: none

rename abstactions to model_builders
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/model_builders.py
  pangeo_forge_orchestrator/models.py
  tests/conftest.py
  tests/interfaces.py
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

actually fix pre-commit
  pangeo_forge_orchestrator/api.py
  tests/interfaces.py
Due: check-docstring-first, isort, black, flake8

remove path attribute
  pangeo_forge_orchestrator/models.py
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

add app.json
  app.json
Due: check-json

fix json formatting
  app.json
Due: check-json

try without pip install -e ".[dev]"
  app.json
Due: check-json

Path conditions:
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
