Repository pangeo-forge/pangeo-forge-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstring-first, check-json, check-yaml, isort, black, flake8

check-docstring-first:
  name: check-docstring-first
  entry: check-docstring-first
  language: system

check-json:
  name: check-json
  entry: check-json
  language: system

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

isort:
  name: isort
  language: system
  entry: isort
  args:
  - --check-only
  - --profile
  - black

black:
  name: black
  language: system
  entry: black
  args:
  - --check
  - --line-length
  - '100'

flake8:
  name: flake8
  language: system
  entry: flake8
  args:
  - --max-line-length
  - '100'

Include tests.
  .pre-commit-config.yaml
  pangeo_forge_prefect/flow_manager.py
  setup.py
  test/__init__.py
  test/data/classes.py
  test/test_flow_manager.py
Due: check-docstring-first, check-yaml, isort, black, flake8

Include tox configuration for tests.
  .pre-commit-config.yaml
  tox.ini
Due: check-yaml

Add README.
  README.md
Due: none

README updates.
  README.md
Due: none

Make target storage_options optional.
  pangeo_forge_prefect/flow_manager.py
  pangeo_forge_prefect/meta_types/bakery.py
  test/data/bakeries.yaml
Due: check-docstring-first, check-yaml, isort, black, flake8

Fix meta dataclass to align with staged-recipes.
  pangeo_forge_prefect/meta_types/meta.py
  test/data/meta.yaml
Due: check-docstring-first, check-yaml, isort, black, flake8

Explicit credentials are required for storage targets.
  README.md
  pangeo_forge_prefect/flow_manager.py
  pangeo_forge_prefect/meta_types/bakery.py
  test/data/bakeries.yaml
  test/test_flow_manager.py
Due: check-docstring-first, check-yaml, isort, black, flake8

Assume private target is always used.
  pangeo_forge_prefect/meta_types/meta.py
  test/data/meta.yaml
Due: check-docstring-first, check-yaml, isort, black, flake8

Provide list of all target secrets to flow_manager.
  pangeo_forge_prefect/flow_manager.py
  test/data/bakeries.yaml
  test/test_flow_manager.py
Due: check-docstring-first, check-yaml, isort, black, flake8

Add credentials for flow storage at the bakery level.
  pangeo_forge_prefect/flow_manager.py
  pangeo_forge_prefect/meta_types/bakery.py
  test/data/bakeries.yaml
  test/test_flow_manager.py
Due: check-docstring-first, check-yaml, isort, black, flake8

Run tests on push.
  .github/workflows/tests.yml
Due: check-yaml

Raise errors for currently unsupported configurations.
  pangeo_forge_prefect/flow_manager.py
  test/data/classes.py
  test/test_flow_manager.py
Due: check-docstring-first, isort, black, flake8

Remove hardcoded Prefect project name.
  pangeo_forge_prefect/flow_manager.py
Due: check-docstring-first, isort, black, flake8

Remove legacy bucket secret retrieval approach.
  README.md
Due: none

Add docstring for register_flow.
  pangeo_forge_prefect/flow_manager.py
Due: check-docstring-first, isort, black, flake8

Fix typo in os.environ.
  pangeo_forge_prefect/flow_manager.py
Due: check-docstring-first, isort, black, flake8

Remove README code block typo.
  README.md
Due: none

Updates to handle latest refactor of pangeo_forge.
  pangeo_forge_prefect/flow_manager.py
  setup.py
  test/data/recipe.py
Due: check-docstring-first, isort, black, flake8

Include pangeo_forge logs in Prefect Cloud log re-direction.
  pangeo_forge_prefect/flow_manager.py
Due: check-docstring-first, isort, black, flake8

Remove comments from test recipe.
  test/data/recipe.py
Due: check-docstring-first, isort, black, flake8

Include hardcoded number of workers for testing.
  pangeo_forge_prefect/flow_manager.py
Due: check-docstring-first, isort, black, flake8

Implement adaptive scaling for managing Dask cluster workers.
  pangeo_forge_prefect/flow_manager.py
  pangeo_forge_prefect/meta_types/bakery.py
  test/data/bakeries.yaml
  test/test_flow_manager.py
Due: check-docstring-first, check-yaml, isort, black, flake8

Remove stray worker count setting.
  pangeo_forge_prefect/flow_manager.py
Due: check-docstring-first, isort, black, flake8

Update dependencies to use release of pangeo-forge-recipes.
  pangeo_forge_prefect/flow_manager.py
  setup.py
  test/data/recipe.py
Due: check-docstring-first, isort, black, flake8

Include version checking for registration and bakery worker environment.
  pangeo_forge_prefect/flow_manager.py
  pangeo_forge_prefect/meta_types/bakery.py
  pangeo_forge_prefect/meta_types/meta.py
  pangeo_forge_prefect/meta_types/versions.py
  test/data/bakeries.yaml
  test/data/meta.yaml
  test/test_flow_manager.py
Due: check-docstring-first, check-yaml, isort, black, flake8

Fix typo in versions argument.
  pangeo_forge_prefect/flow_manager.py
Due: check-docstring-first, isort, black, flake8

Update meta.yaml to support recipe import changes from ADR 0002.
  pangeo_forge_prefect/flow_manager.py
  pangeo_forge_prefect/meta_types/meta.py
  test/data/meta.yaml
  test/data/recipe_dict.py
  test/test_flow_manager.py
Due: check-docstring-first, check-yaml, isort, black, flake8

Remove debug comment.
  pangeo_forge_prefect/flow_manager.py
Due: check-docstring-first, isort, black, flake8

Correctly configure targets for recipes in from_dict.
  pangeo_forge_prefect/flow_manager.py
Due: check-docstring-first, isort, black, flake8

Use target storage scheme specified in ADR 0003.
  pangeo_forge_prefect/flow_manager.py
  test/test_flow_manager.py
Due: check-docstring-first, isort, black, flake8

Begin to refactor bakery.py and flow_manager.py to accommodate azure.aks
  pangeo_forge_prefect/flow_manager.py
  pangeo_forge_prefect/meta_types/bakery.py
  test/data/bakeries.yaml
  test/test_flow_manager.py
Due: check-docstring-first, check-yaml, isort, black, flake8

Refactor configure_run_config for aks
  pangeo_forge_prefect/flow_manager.py
  test/test_flow_manager.py
Due: check-docstring-first, isort, black, flake8

Refactor configure_targets for azure
  pangeo_forge_prefect/flow_manager.py
  setup.py
  test/data/meta_aws.yaml
  test/data/meta_azure.yaml
  test/test_flow_manager.py
Due: check-docstring-first, check-yaml, isort, black, flake8

Refactor configure_dask_executor for aks
  pangeo_forge_prefect/flow_manager.py
  setup.py
  test/test_flow_manager.py
Due: check-docstring-first, isort, black, flake8

Add secrets to dask_executor and add PR template
  .github/pull_request_template.md
  pangeo_forge_prefect/flow_manager.py
Due: check-docstring-first, isort, black, flake8

Set K8s worker units to be in Mi for memory and m for cpu
  pangeo_forge_prefect/flow_manager.py
  test/data/meta_azure.yaml
  test/test_flow_manager.py
Due: check-docstring-first, check-yaml, isort, black, flake8

Add default values for k8s dask executor
  pangeo_forge_prefect/flow_manager.py
  test/test_flow_manager.py
Due: check-docstring-first, isort, black, flake8

Increase minimum resource limits when using Fargate cluster type.
  pangeo_forge_prefect/flow_manager.py
Due: check-docstring-first, isort, black, flake8

Move test secrets structure to a fixture.
  test/test_flow_manager.py
Due: check-docstring-first, isort, black, flake8

Update tests to verify pangeo-forge-recipes refactoring api change.
  pangeo_forge_prefect/flow_manager.py
  setup.py
  test/test_flow_manager.py
Due: check-docstring-first, isort, black, flake8

Path conditions:
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
