Repository pangeo-forge/pangeo-forge-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstring-first, check-json, check-yaml, isort, black, flake8

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: local
    hooks:
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: system

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: system

      - id: check-docstring-first
        name: check-docstring-first
        entry: check-docstring-first
        types: [python]
        language: system

      - id: check-json
        name: check-json
        entry: check-json
        types: [json]
        language: system

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        types: [yaml]
        language: system

      - id: isort
        name: isort
        language: system
        entry: isort
        types: [python]
        args: ["--check-only", "--profile", "black"]

      - id: black
        name: black
        language: system
        entry: black
        types: [python]
        args: ["--check", "--line-length", "100"]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [python]
        args: ["--max-line-length", "100"]

oops setting PANGEO_FORGE_DEPLOYMENT breaks tests
  .github/workflows/main.yaml
  pangeo_forge_orchestrator/routers/prefect.py
Due: check-docstring-first, check-yaml, isort, black, flake8

add hashes first commit
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

update pre-commit hooks
  .pre-commit-config.yaml
  .prettierrc.toml
  setup.cfg
Due: check-yaml

Update pre-commit hooks
  .pre-commit-config.yaml
  pangeo_forge_orchestrator/models.py
  pangeo_forge_orchestrator/routers/security.py
  pangeo_forge_orchestrator/security.py
  pyproject.toml
  setup.cfg
  tests/interfaces.py
  tests/test_api.py
Due: check-docstring-first, check-yaml, isort, black, flake8

add prettier
  .pre-commit-config.yaml
Due: check-yaml

add prettier to pre-commit hooks
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
  README.md
  app.json
  codecov.yml
  docs/development_guide.md
Due: check-json, check-yaml

fix markdown
  docs/development_guide.md
Due: none

pin sqlalchemy==1.4.35
  requirements.txt
  setup.cfg
Due: none

add endpoint for "production" datasets stats
  .pre-commit-config.yaml
  pangeo_forge_orchestrator/routers/stats.py
Due: check-docstring-first, check-yaml, isort, black, flake8

Add query parameter to exclude test runs
  .pre-commit-config.yaml
  pangeo_forge_orchestrator/routers/stats.py
Due: check-docstring-first, check-yaml, isort, black, flake8

First stab at adding tests for routers/stats.py
  tests/routers/__init__.py
  tests/routers/test_stats.py
Due: check-docstring-first, isort, black, flake8

remove prefect route
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/routers/prefect.py
  setup.cfg
Due: check-docstring-first, isort, black, flake8

move common utilities into helpers.py
  tests/helpers.py
  tests/routers/test_stats.py
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

update tests
  tests/routers/test_stats.py
Due: check-docstring-first, isort, black, flake8

update test
  tests/routers/test_stats.py
Due: check-docstring-first, isort, black, flake8

only test py3.9, remove redundant triggers
  .github/workflows/main.yaml
Due: check-yaml

replace `.is()` with `==`
  pangeo_forge_orchestrator/routers/stats.py
Due: check-docstring-first, isort, black, flake8

fix formatting
  pangeo_forge_orchestrator/routers/stats.py
Due: check-docstring-first, isort, black, flake8

use Query and add description
  pangeo_forge_orchestrator/routers/stats.py
Due: check-docstring-first, isort, black, flake8

postgres testing first pass
  .github/workflows/main.yaml
Due: check-yaml

add db to build name, fix conditional, use sudo for apt-get
  .github/workflows/main.yaml
Due: check-yaml

fix (?) build names, env assignment, psql hostname
  .github/workflows/main.yaml
Due: check-yaml

psql option is host, not hostname
  .github/workflows/main.yaml
Due: check-yaml

redo postgres setup
  .github/workflows/main.yaml
Due: check-yaml

deps: pin click, add psycopg2
  requirements.txt
  setup.cfg
Due: none

postgres host might be localhost
  .github/workflows/main.yaml
Due: check-yaml

trigger workflows for prod + main
  .github/workflows/main.yaml
Due: check-yaml

Add support for sorting/ordering for `read_range` endpoints
  pangeo_forge_orchestrator/routers/model_router.py
Due: check-docstring-first, isort, black, flake8

Add test
  pangeo_forge_orchestrator/routers/model_router.py
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

update test
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

fix branching
  pangeo_forge_orchestrator/routers/model_router.py
Due: check-docstring-first, isort, black, flake8

Add support for sorting/ordering for `read_range` endpoints (#78)
  pangeo_forge_orchestrator/routers/model_router.py
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

Deploy to `prod` (7/26/2022) (#79)
  .github/workflows/main.yaml
  pangeo_forge_orchestrator/routers/model_router.py
  tests/test_api.py
Due: check-docstring-first, check-yaml, isort, black, flake8

add github_app router
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/routers/github_app.py
  setup.cfg
Due: check-docstring-first, isort, black, flake8

update app values constant comment
  pangeo_forge_orchestrator/routers/github_app.py
Due: check-docstring-first, isort, black, flake8

dynamically determine feedstock_id -> repo_id
  pangeo_forge_orchestrator/routers/github_app.py
Due: check-docstring-first, isort, black, flake8

handle case of feedstock doesnt have install
  pangeo_forge_orchestrator/routers/github_app.py
Due: check-docstring-first, isort, black, flake8

add receive_github_hook post endpoint
  pangeo_forge_orchestrator/routers/github_app.py
Due: check-docstring-first, isort, black, flake8
