Repository pangeo-forge/pangeo-forge-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstring-first, check-json, check-yaml, isort, black, flake8

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: local
    hooks:
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: system

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: system

      - id: check-docstring-first
        name: check-docstring-first
        entry: check-docstring-first
        types: [python]
        language: system

      - id: check-json
        name: check-json
        entry: check-json
        types: [json]
        language: system

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        types: [yaml]
        language: system

      - id: isort
        name: isort
        language: system
        entry: isort
        types: [python]
        args: ["--check-only", "--profile", "black"]

      - id: black
        name: black
        language: system
        entry: black
        types: [python]
        args: ["--check", "--line-length", "100"]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [python]
        args: ["--max-line-length", "100"]

docstrings
  pangeo_forge_orchestrator/model_builders.py
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

docstrings 2
  pangeo_forge_orchestrator/model_builders.py
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

clarify RelationBuilder.back_populates
  pangeo_forge_orchestrator/model_builders.py
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

remove install instructions from README
  README.md
Due: none

Update pangeo_forge_orchestrator/models.py
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

finish & test feedstock fields edit
  pangeo_forge_orchestrator/models.py
  tests/model_fixtures.py
Due: check-docstring-first, isort, black, flake8

alembic autogenerate migration
  migrations/versions/6197f9c7aff6_add_bakery_and_feedstock.py
Due: check-docstring-first, isort, black, flake8

manually remove create_index & drop_index from migration
  migrations/versions/6197f9c7aff6_add_bakery_and_feedstock.py
Due: check-docstring-first, isort, black, flake8

github workflow: don't use alembic for local tests
  .github/workflows/main.yaml
Due: check-yaml

major wip
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/database.py
  pangeo_forge_orchestrator/models.py
  pangeo_forge_orchestrator/security.py
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

working; now have to add tests
  migrations/versions/5c6ae59e3861_add_api_keys.py
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/security.py
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

read postgres timestamps in UTC
  pangeo_forge_orchestrator/database.py
Due: check-docstring-first, isort, black, flake8

if testing with local postgres, reset primary keys
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

got stuff kind of working
  migrations/versions/5c6ae59e3861_add_api_keys.py
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/cli.py
  pangeo_forge_orchestrator/client.py
  pangeo_forge_orchestrator/database.py
  pangeo_forge_orchestrator/model_builders.py
  pangeo_forge_orchestrator/models.py
  pangeo_forge_orchestrator/security.py
  tests/conftest.py
  tests/interfaces.py
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

all tests pass
  tests/conftest.py
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

clean up
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

fix database_url on heroku
  pangeo_forge_orchestrator/database.py
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

another try with heroku
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

conftest: simplify & resolve inconsistent sessions
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

model fixtures: clarify dependencies vs. optional relations
  tests/model_fixtures.py
Due: check-docstring-first, isort, black, flake8

tests: create with deps first, for postgres
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

README: describe local postgres testing
  README.md
Due: none

update feedstock model fields
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

feedstock model field change: enum type and docstring
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

migrations: update to reflect feedstock field changes
  migrations/versions/6197f9c7aff6_add_bakery_and_feedstock.py
Due: check-docstring-first, isort, black, flake8

tests: update to reflect feedstock field changes
  tests/model_fixtures.py
Due: check-docstring-first, isort, black, flake8

correct ModelRelationFixture.field_name comment typo
  tests/model_fixtures.py
Due: check-docstring-first, isort, black, flake8

use a single ModelFixture class
  tests/model_fixtures.py
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

explain what ModelRelationFixture does
  tests/model_fixtures.py
Due: check-docstring-first, isort, black, flake8

tests: remove one more unneeded conditional
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

ModelRelationFixture: one more clarifying comment
  tests/model_fixtures.py
Due: check-docstring-first, isort, black, flake8

Update README.md
  README.md
Due: none

README: fix list numbering, add rm sqlite note
  README.md
Due: none

dataset models first commit
  pangeo_forge_orchestrator/models.py
  tests/model_fixtures.py
Due: check-docstring-first, isort, black, flake8

resolve issues from merge
  pangeo_forge_orchestrator/database.py
  tests/conftest.py
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

add missing migration file
  app.json
  migrations/versions/b0ec74f6d899_add_api_keys.py
Due: check-docstring-first, check-json, isort, black, flake8

update test app encryption env vars
  app.json
Due: check-json

sqlmodel >= 0.0.6 to resolve idx issue
  setup.cfg
Due: none

models: reciperun.datasets as list
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

model_fixtures: prioritize relation assignment order
  tests/model_fixtures.py
Due: check-docstring-first, isort, black, flake8
