Repository pangeo-forge/pangeo-forge-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstring-first, check-json, check-yaml, isort, black, flake8

check-docstring-first:
  name: check-docstring-first
  entry: check-docstring-first
  language: system

check-json:
  name: check-json
  entry: check-json
  language: system

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

isort:
  name: isort
  language: system
  entry: isort
  args:
  - --check-only
  - --profile
  - black

black:
  name: black
  language: system
  entry: black
  args:
  - --check
  - --line-length
  - '100'

flake8:
  name: flake8
  language: system
  entry: flake8
  args:
  - --max-line-length
  - '100'

migrations: add dataset table
  migrations/versions/8652cc287dd5_add_dataset.py
Due: check-docstring-first, isort, black, flake8

tests: handle inner deps of dependencies
  tests/test_api.py
Due: check-docstring-first, isort, black, flake8

doctring for DatasetBase
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

models: fix comment typo
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

models: dataset -> datasets in relationship attrs
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

add api-key test
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/cli.py
  tests/test_security.py
Due: check-docstring-first, isort, black, flake8

add security documentation
  pangeo_forge_orchestrator/api.py
  security.md
  tests/test_security.py
Due: check-docstring-first, isort, black, flake8

change dependency for model authorization
  pangeo_forge_orchestrator/api.py
Due: check-docstring-first, isort, black, flake8

Fix typo in dataset model docstring
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

clean up
  pangeo_forge_orchestrator/cli.py
Due: check-docstring-first, isort, black, flake8

add dataset fields to RecipeRunBase
  pangeo_forge_orchestrator/models.py
  tests/model_fixtures.py
Due: check-docstring-first, isort, black, flake8

add dataset fields migration
  migrations/versions/70bcddc9fffa_add_dataset_fields.py
Due: check-docstring-first, isort, black, flake8

add TODO comment about fixture refactor
  tests/model_fixtures.py
Due: check-docstring-first, isort, black, flake8

fix typo in DatasetType docstring
  pangeo_forge_orchestrator/models.py
Due: check-docstring-first, isort, black, flake8

add api key generation script
  scripts/generate_api_key.py
Due: check-docstring-first, isort, black, flake8

Update README.md
  README.md
Due: none

fix damn trailing whitespace
  README.md
Due: none

first pass at reorganization
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/database.py
  pangeo_forge_orchestrator/dependencies.py
  pangeo_forge_orchestrator/model_builders.py
  pangeo_forge_orchestrator/routers/__init__.py
  pangeo_forge_orchestrator/routers/model_router.py
  pangeo_forge_orchestrator/routers/security.py
  pangeo_forge_orchestrator/security.py
Due: check-docstring-first, isort, black, flake8

finally got things working
  pangeo_forge_orchestrator/routers/model_router.py
Due: check-docstring-first, isort, black, flake8

add app metadata
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/metadata.py
Due: check-docstring-first, isort, black, flake8

stop messing around with versioning
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/model_builders.py
  pangeo_forge_orchestrator/models.py
  pangeo_forge_orchestrator/routers/model_router.py
  pangeo_forge_orchestrator/routers/security.py
  pangeo_forge_orchestrator/security.py
  tests/conftest.py
  tests/interfaces.py
Due: check-docstring-first, isort, black, flake8

remove print statements
  pangeo_forge_orchestrator/security.py
Due: check-docstring-first, isort, black, flake8

fix pre-commit
  pangeo_forge_orchestrator/dependencies.py
Due: check-docstring-first, isort, black, flake8

remove debugging comments
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

add actual API links to README
  README.md
Due: none

use SSL middleware
  pangeo_forge_orchestrator/api.py
Due: check-docstring-first, isort, black, flake8

add stats router
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/routers/stats.py
  setup.cfg
Due: check-docstring-first, isort, black, flake8

add cors middleware for all origins
  pangeo_forge_orchestrator/api.py
Due: check-docstring-first, isort, black, flake8

flow dispatch dependencies
  setup.cfg
Due: none

add flow router
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/routers/flow.py
  setup.cfg
Due: check-docstring-first, isort, black, flake8

add recipe_runs/register/{id} route
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/routers/prefect.py
  requirements.txt
  setup.cfg
Due: check-docstring-first, isort, black, flake8

add aiohttp to deps
  requirements.txt
  setup.cfg
Due: none

add GITHUB_TOKEN to test env
  .github/workflows/main.yaml
Due: check-yaml

Update pangeo_forge_orchestrator/routers/prefect.py
  pangeo_forge_orchestrator/routers/prefect.py
Due: check-docstring-first, isort, black, flake8

remove query string params from registration route
  pangeo_forge_orchestrator/routers/prefect.py
Due: check-docstring-first, isort, black, flake8

remove readthedocs config
  .readthedocs.yml
Due: check-yaml

use existing PANGEO_FORGE_DEPLOYMENT var
  pangeo_forge_orchestrator/routers/prefect.py
Due: check-docstring-first, isort, black, flake8

add PANGEO_FORGE_DEPLOYMENT var to test env
  .github/workflows/main.yaml
Due: check-yaml

check PANGEO_FORGE_DEPLOYMENT in function call
  pangeo_forge_orchestrator/routers/prefect.py
Due: check-docstring-first, isort, black, flake8

Path conditions:
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
