Repository pangeo-forge/pangeo-forge-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstring-first, check-json, check-yaml, isort, black, flake8

check-docstring-first:
  name: check-docstring-first
  entry: check-docstring-first
  language: system

check-json:
  name: check-json
  entry: check-json
  language: system

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

isort:
  name: isort
  language: system
  entry: isort
  args:
  - --check-only
  - --profile
  - black

black:
  name: black
  language: system
  entry: black
  args:
  - --check
  - --line-length
  - '100'

flake8:
  name: flake8
  language: system
  entry: flake8
  args:
  - --max-line-length
  - '100'

tweak app.json
  app.json
Due: check-json

conditional deletion of tables in fixture
  tests/interfaces.py
Due: check-docstring-first, isort, black, flake8

debug heroku test
  app.json
  tests/interfaces.py
Due: check-docstring-first, check-json, isort, black, flake8

roll back to original
  tests/interfaces.py
Due: check-docstring-first, isort, black, flake8

import test engine from database module
  pangeo_forge_orchestrator/api.py
  pangeo_forge_orchestrator/database.py
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

add alembic migrations
  alembic.ini
  migrations/README
  migrations/env.py
  migrations/script.py.mako
  migrations/versions/788675cfe27c_initial_migration.py
  setup.cfg
Due: check-docstring-first, isort, black, flake8

add migrations to CI
  .github/workflows/main.yaml
  app.json
  requirements.txt
  setup.cfg
Due: check-json, check-yaml

fix workflow
  .github/workflows/main.yaml
Due: check-yaml

debugging
  app.json
Due: check-json

fix github workflow
  .github/workflows/main.yaml
Due: check-yaml

try to find the right sqlite database path syntax for Heroku
  app.json
Due: check-json

more verbose
  .github/workflows/main.yaml
  app.json
Due: check-json, check-yaml

have alembic use env variable
  alembic.ini
  migrations/env.py
Due: check-docstring-first, isort, black, flake8

remove --verbose doh
  .github/workflows/main.yaml
  app.json
Due: check-json, check-yaml

typo in main.yaml
  .github/workflows/main.yaml
Due: check-yaml

use correct herkou port
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

tweak logging options
  .github/workflows/main.yaml
  tests/conftest.py
Due: check-docstring-first, check-yaml, isort, black, flake8

align pytest with heroku deploy
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

trying to make heroku work
  pangeo_forge_orchestrator/database.py
  setup.cfg
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

tweak heroku app.json
  app.json
Due: check-json

tweak again;
  app.json
Due: check-json

tweak yet again
  app.json
Due: check-json

try disabling registration test
  app.json
  tests/test_database.py
Due: check-docstring-first, check-json, isort, black, flake8

try disabling registration test again
  tests/test_database.py
Due: check-docstring-first, isort, black, flake8

try heroku-postgresql
  app.json
  tests/test_database.py
Due: check-docstring-first, check-json, isort, black, flake8

fix app.json
  app.json
Due: check-json

workaround Heroku database uri problem
  pangeo_forge_orchestrator/database.py
Due: check-docstring-first, isort, black, flake8

get correct database url in migration script
  migrations/env.py
Due: check-docstring-first, isort, black, flake8

add psycopg2 to requirements
  requirements.txt
  runtime.txt
Due: none

switch test env to uvicorn
  migrations/env.py
  pangeo_forge_orchestrator/database.py
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

back to gunicorn
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

properly clean up gunicorn
  tests/conftest.py
Due: check-docstring-first, isort, black, flake8

move migrations to Procfile
  Procfile
  app.json
Due: check-json

put migrations back in test script
  Procfile
  app.json
Due: check-json

configure postgres add-on in app.json
  app.json
Due: check-json

remove heroku-postgresql:in-dyno from review app config
  app.json
Due: check-json

try heroku-postgresql:hobby-dev in review environment
  app.json
Due: check-json

try different add-on syntax
  app.json
Due: check-json

Path conditions:
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
